@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
}


.header{
	display: flex;
}

.logo{
	height: 219px;
	width: 40%;
	display: inline;
}
.logo img{
	padding: 73px 73px 73px 0;
	border: 1px solid red;
	display: inline;
}

.forsidebillede{
	width: 50%;
	height: 300px;

}
.forsidebillede img{
	height: 500px;
	width: auto;
	border: 1px solid pink;	
	position: relative;
	margin-left: 184px;
	opacity: 0.5;
}

h1{
	font-size: 2.5em;
	position: relative;
	bottom: 220px;
	left: 300px;
	text-shadow: 1px 1px grey;
}

button{
	position: relative;
	bottom: 200px;
	left: 460px;
	padding: 8px 10px;
	font-size: 1em;
	font-weight: 600;
	border-radius: 4px;
	background: white;
	opacity: 0.85;
	
}
button:hover{
	background: #7E7E7E;
	opacity: 1;	
}
.knap:hover{
	color: white;
}
nav{
	height: 219px;
	width: 50%;
	font-size: 27px;
	border: 1px solid yellow;
	line-height: 270px;
	
}


.topnav {
	border: 1px solid #E99019;
}

a{
	padding: 0 15px 0 15px;
	text-decoration: none;
	color: black;
	display: inline-block;
	text-align: center;
}


ul{
	list-style-type: none;
}

/*Services styles*/
.indholdservice{
	border: 1px solid blue;
	display: flex;
	margin: 10px;
	
}

.kolonne{
	border: 1px solid red;
	display: flex;
	margin: 10px;
	
}

/*så man stopper udviklingen af skærmen når den bliver for bred - låser layoutet ved 1200 px*/
/* en media query "indlejret" i dette stylesheet*/

@media screen and (min-width: 1200px){
	.container{
		max-width: 1200px;
		margin: 0 auto;
	}
}